*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Popins", sans-serif;
}

/*--Colors--*/
:root{
  --FirstColor: #424530;
  --SecondColor: #a58e74;
  --ThirdColor: #ed9132;
  --FourthColor: #FFFFFF;
  --FifthColor: #f4f4f9;
  --SixthColor: #676b57;
  --BodyColor: #ffefcd;
}

body{
  background: var(--BodyColor);
}




