
* {
  box-sizing: border-box;
}

body {
  background: hwb(270 96% 3% / 0.632);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}